.welcome-img{
    background-image: url('/images/backgrounds/h_img.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.welcome-text {
    position: absolute;
    right: 25%;
    top: 48%;
}
.about-us {
    text-align: center;
}
.services-img {
    background-image: url(/images/backgrounds/s_image.jpg);
    color: white;
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    text-align: center;
}
.services-text {
    position: absolute;
    right: 15%;
    top: 28%;
}